manifest {
    name = 'mdmeta-production-postprocessing'
    author = 'md_metadata_pipeline contributors'
    version = '1.0.0'
    nextflowVersion = '>=26.04.2'
}

process {
    executor = 'local'
    cache = 'deep'
    cpus = 1
    memory = '2 GB'
    time = '15m'
    maxForks = 2
    errorStrategy = 'terminate'
}

profiles {
    local {
        process.executor = 'local'
    }

    csc {
        params.require_slurm_account = true
        process.executor = 'slurm'
        process.queue = params.slurm_queue
        process.clusterOptions = "--account=${params.slurm_account}"
        executor.queueSize = 16
    }

    docker {
        params.require_container_digest = true
        docker.enabled = true
        process.container = params.container_image
    }

    apptainer {
        params.require_container_digest = true
        apptainer.enabled = true
        process.container = params.container_image
    }
}

timeline {
    overwrite = true
}

report {
    overwrite = true
}

trace {
    overwrite = true
}
